@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    background-color: #f1f1f1;
    font-family: 'Arimo', sans-serif;;
}

table,th,td {
    text-align: center;
    
}

table {
    margin-top: 100px;
    background-color: #dbd9d9;
    border-collapse:collapse;
    border-radius: 0.7em;
    overflow: hidden;
    table-layout: fixed;
    font-size: 100%;
}

td {
    color : #f1f1f1;
    padding: 15px;
}   

th {
    color : #767676;
    padding: 20px;
    font-size: 1em;
}

td a {
    color: #f1f1f1;
    text-decoration: none;
}

.warwait {
    background-color: #13abdb;
    
}

.warwait:hover {
    background-color: #0070ad;
}